@import "tailwindcss";
@config "../../tailwind.config.ts";

*:focus-visible {
  @apply outline-sky-500;
}

body {
  @apply bg-white font-inter;
}

select {
  @apply appearance-none px-2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@theme {
  --color-kblue: #2bced9;
  --color-kblue-light: #6fe3ea;
}
